{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit page
{% endblock %}

{% block body %}

    {% if title %}
    <h1>Edit "{{ title }}" page</h1>
    <form action="{% url 'wiki:edit' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="title" value="{{title}}">
        <textarea name="content">{{ content }}</textarea>
        <p></p>
        <input type="submit" value="Save">
    </form>
    {% else %}
    <h1>Go to certain page in order to edit it</h1>
    {% endif %}

{% endblock %}